<h1 mat-dialog-title>{{isOnEdit ? 'Edit' : 'Add'}} element</h1>
<div mat-dialog-content>

    <form [formGroup]="recipeForm">
        <mat-form-field>
            <input matInput [readonly]="isOnEdit" placeholder="Position" formControlName="position">
            <mat-error>This field is required accepted</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error>At least three characters</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ingredients" formControlName="ingredients">
            <mat-error>This field is required accepted</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Instructions" formControlName="instructions">
            <mat-error>This field is required accepted</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Time" formControlName="time">
        </mat-form-field>
    </form>

    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button [mat-dialog-close]="recipeForm" [disabled]= "recipeForm.invalid" cdkFocusInitial>Ok</button>
    </div>

